# Created by .ignore support plugin (hsz.mobi)
*.class
*.DS_Store
*.ear
*.eml
*.iws
*.jar
*.log
*.war
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.eclipse
.fseventsd
.idea/
.idea_modules/
.lib/
.LSOverride
.mtj.tmp/
.scala_dependencies
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.worksheet
/db
/dist/
/lib/
/logs/
/modules
/out/
/project/target
atlassian-ide-plugin.xml
bin/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist/*
fabric.properties
hs_err_pid*
Icon
lib_managed/
Network Trash Folder
project/boot/
project/plugins/project/
server.pid
src_managed/
target/
Temporary Items
test-result
tmp/
